body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../img/nasty_fabric.png");
	
}

.container .nav-item
{
	height:120px;
	width:75%;
	text-align: center;
	margin-bottom: 10px;
	text-transform: lowercase;
	font-size:15px;
}
.container .nav-link
{

	background-color: #747474;
	height:100%;
	color:white;
	border: 1px solid black;
}

.container .nav-link.disabled
{
	background-color: #545454;
	color:gray;
}

.container .nav-link:hover
{
	background-color: #636363;
	color:white;
}

 .container .nav-link.active
{
	background-color: #53916b !important;
}

#loginModal .nav-link
{
	background-color: white;
	color:black;
}

#loginModal .nav-link.active
{
	background-color: #747474 !important;
	color:white;
}

